extends layout

block content
  h1= title
  p Welcome to #{title}
  if user
    p Hello, #{user.username}
    a(href="/logout") Logout
  else
    p Hello
    a(href="/auth/github") login
  
  h1 秘密の匿名掲示板
  h2 新規投稿
  form(method="post" action="/")
    div
      textarea(name="content" cols=40 rows=4)
      // input(type="hidden" name="oneTimeToken" value=oneTimeToken)
    div: button(type="submit") 投稿
  h2 投稿一覧
    each post in posts
      p #{post.content}
        // - var originalTrackingId = post.trackingCookie ? post.trackingCookie.split('_')[0] : ''
        // span #{post.id} : ID:#{originalTrackingId}
        span #{post.id} : Tracking_idはまだない
        // 改行を行えるように変換
        p.card-text(style="white-space:pre; overflow:auto;") #{post.content}
        p 投稿時間：#{post.createdAt}
      hr

  
